body{
    margin: 0;
}

.wrapper{
    background: #eeeeee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background: #2c5046;
    height: 70vh;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}
input{
    outline: none; /* lma agy a3ml focus my3mlsh border*/
}

.info_key{
    color: #ffffff;
}